/* styles */
#secondFormContainer {
  /*align form to row*/
  display: flex;
  flex-direction: row;
}

html {
  height: 100%;
  overflow: hidden; /*remove scroll bar*/
}

body {
  /*center currency converter to middle of page*/
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#secondFormContainer p {
  margin: 0;
  padding: 5px;
  border: 1px solid black;
  flex-grow: 1; /*take up remaining width of container*/
  background-color: white !important; /*over write colour*/
  font-size: 20px;
  flex-grow: 1;
  font-family: "Kanit", sans-serif;
}
/* 
#currencyTo {
  flex-grow: 2;
} */

#currency-container {
  width: 20em;
  border-radius: 25px;
  padding: 2em;
  border: 3px solid black;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

#currency-container #firstFormContainer form #value1 {
  flex-grow: 1;
}

form {
  display: flex;
}

#firstInputCurrency {
  margin-bottom: 1em;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin-top: 0;
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  background: -webkit-linear-gradient(
    0deg,
    #be22ff 20%,
    #ff279c 50%,
    #ff981f 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input {
  border: 1px solid black;
  box-sizing: border-box;
  width: 100%;
}

input[type="number"] {
  padding: 5px;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
}

#value1::-webkit-outer-spin-button,  /*remove spinner*/
#value1::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

aside {
  display: flex;
  justify-content: center;
}

#euro {
  width: 150px;
  object-fit: cover;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}
